{%- capture money_format_output -%}
	{%- if settings.currency_format == 'money_with_currency_format' -%}
		{{- shop.money_with_currency_format | strip_html -}}
	{%- else -%}
		{{- shop.money_format | strip_html -}}
	{%- endif -%}
{%- endcapture -%}

{%- assign body_classes = "" -%}
{%- if template == '404' -%}
	{%- assign body_classes = body_classes | append: " error-404" -%}
{% else -%}
	{%- capture template_class -%}
		{{- template | replace: '.', '-' | handle | prepend: "template-" -}}
	{%- endcapture -%}

	{%- assign body_classes = template_class | append: " " | append: "template_class" -%}
{%- endif -%}

<!doctype html>
<html class='no-js' lang='{{- shop.locale -}}'>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="cleartype" content="on">
		<meta name="robots" content="index,follow">
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
		<meta name='viewport' content='width=device-width,initial-scale=1'>
		<meta name='theme-color' content='{{- settings.color_button -}}'>
		<link rel='canonical' href='{{- canonical_url -}}'>

		{%- if settings.favicon != blank -%}
			<link rel='shortcut icon' href='{{ settings.favicon | image_url: width: 32, height: 32 }}' type='image/png'>
		{%- endif -%}

		{%- capture seo_title -%}
			{%- if template == 'search' and search.performed == true -%}
				{{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
			{%- else -%}
				{{ page_title }}
			{%- endif -%}

			{%- if current_tags -%}
				{%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
			{%- endif -%}

			{%- if current_page != 1 -%}
				&ndash; {{ 'general.meta.page' | t: page: current_page }}
			{%- endif -%}

			{%- assign escaped_page_title = page_title | escape -%}
			{%- unless escaped_page_title contains shop.name -%}
				&ndash; {{ shop.name }}
			{%- endunless -%}
		{%- endcapture -%}

		<title>
			{{- seo_title | strip -}}
		</title>

		{%- if page_description -%}
			<meta name='description' content='{{- page_description | escape -}}'>
		{%- endif -%}

		{%- render 'social-meta-tags' -%}
		{%- render 'head-theme-meta' with layout: 'theme' -%}

		{%- render 'variables.css' -%}
		{%- render 'custom-variables.css' -%}

		{%- if page_description -%}
			<meta name='description' content='{{- page_description | escape -}}'>
		{%- endif -%}

		{%- render 'variables.css' -%}
		{%- render 'builder-include-style' with path: 'main.css' -%}

		{{ content_for_header }}

		{%- if template.directory == 'customers' -%}
			<script src="{{- 'shopify_common.js' | shopify_asset_url -}}" defer></script>
			<script src="{{- 'customer_area.js' | shopify_asset_url -}}" defer></script>
		{%- endif -%}
	</head>

	<body
		class="{{- body_classes -}}"
		data-money-format="{{- money_format_output -}}"
		data-shop-url="{{- shop.url -}}"
		data-current-lang="{{- request.locale.iso_code -}}"
	>
		{%- section 'header' -%}

		{{ content_for_layout }}

		{%- render 'builder-include-script' with path: 'main.js' -%}
	</body>
</html>
